<div class="container mt-3 mb-4">
  <h3 class="fw-bold">Artists with albums in the Top 500</h3>
  <ul class="list-group mt-4">
    <% @artists.each do |artist| %>
      <li class="list-group-item">
        <a href="<%= artist_path(artist) %>" class="list-group-item-action">
          <%= artist.artist_name %>
        </a>
      </li>
    <% end %>
  </ul>
  <div class="text-center my-4">
    <div role="navigation" aria-label="Pagination" class="px-3 py-2 mx-2 text-gray-700 no-underline bg-white rounded-lg">
      <%= page_entries_info @artists %>
      <div class="py-2">
        <%= will_paginate @artists, :container => false %>
      </div>
    </div>
  </div>
</div>
