<h1>Home Page</h1>

<h2>Top 10 albums of all time</h2>
<% @albuns.each do |album| %>
  <p><%= link_to album.album_name, album %> by <%= album.artist.artist_name %></p>
<% end %>
<p><%= link_to "See all", albums_path%></p>