<h1>About us</h1>
<h2>Team Beleo's Intro to Rails project</h2>
<p>
  Our project brings a webpage where the user is able to look
  for the 500 Greatest Albums of All Time.
  The user can select any of those albums to check for their songs and album information,
  search for artists and even see the lyrics for those songs.
  Providing an easy navigation, our team hopes that you
  have fun when browsing through it.
</p>
<p>Data source and APIs used on this project:</p>
<ul>
  <a href="https://gist.github.com/hasmanyguitars/232302a4ba29fd8f5f0d0352ef55d2b9"><li>CSV – The 500 Greatest Albums of All Time - Rolling Stone - 2020</li></a>
  <a href="https://www.last.fm/api"><li>Last.fm API - gets list of songs from albums</li></a>
  <a href="https://developer.musixmatch.com"><li>Musixmatch API - gets lyrics for specified song</li></a>
</ul>
<p>Our database ERD</p>
<%= image_tag 'beleo.drawio.png', alt: 'Database ERD', class: "navbar-brand", style: "max-height: 350px;" %>