<h1>About us</h1>
<h2>Team Beleo's Intro to Rails project</h2>
<p>Data source and APIs used on this project:</p>
<ul>
  <li>1. </li>
  <li>2. </li>
  <li>3. </li>
</ul>

<!-- I liked the idea about using FAKER on this one! -->
